  /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
  .row.content {height: 1500px}

  /* Set gray background color and 100% height */
  .sidenav {
    background-color: #f1f1f1;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height: auto;} 
  }

  body {
    background-color: black;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: greenyellow;
  }

  .circle {
    position: relative;
    color: black;
    background-color: yellow;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 3px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    z-index: 999;
}